<div class="comment">
  <%= render 'shared/link', record: comment,
   activate_id: dom_id(comment, :edit) %>
  <p>
    <strong><%= link_to "#{comment.user.username}(#{comment.user.email })",
      comment.user  %></strong>
    <i><%= display_time(comment.created_at) %></i>
  </p>
  <div class="comment-content">
    <%= markdown(comment.content) %>
  </div> 
  <%= link_to pluralize(comment.get_upvotes.size, 'like'), like_comment_path(comment), method: :put,class: 'white-text tooltipped chip blue',
     data: { position: :left, delay: 10, tooltip: "Like comment"} %>
   <%= link_to pluralize(comment.get_downvotes.size, 'like'), dislike_comment_path(comment), method: :put, class: 'white-text tooltipped chip red',
   data: { position: :right, delay: 10, tooltip: "Dislike comment"} %>
  <div class="divider"></div>
</div>