<div class="article">
  <h5><%= link_to article.title, article %></h5>
  <i class="display-time">
    <%= display_time(article.updated_at) %> by
    <%= link_to "#{article.user.username} (#{article.user.email})", article.user %>  
  </i>
  <p>
    <%= markdown(article.description) %><%= link_to "See more >>", article %>
  </p>
  <p class="chip"><%= link_to pluralize(article.comments_count, 'comment'), article %></p>
  <p class="chip"><%= link_to pluralize(article.get_upvotes.size, 'like'), like_article_path(article), method: :put %></p>
</div>
<div class="divider"></div>