<div class="article">
  <blockquote>
    <%= render 'shared/link', record: @article,
       activate_id: dom_id(@article, :edit) %>
    <h3><%= @article.title %></h3>
    <i class="display-time">
      <%= display_time(@article.updated_at) %> by
      <%= link_to "#{@article.user.username} (#{@article.user.email})", @article.user %>  
    </i>
    <div class="article-content">
      <%= image_tag @article.image.url unless  @article.image.blank? %>
      <%= markdown(@article.body) %>
    </div>
    <%= link_to pluralize(@article.get_downvotes.size, 'dislike'), like_article_path(@article), method: :put, class: 'white-text tooltipped chip red right',
       data: { position: :right, delay: 10, tooltip: "Dislike article"}%>
    <%= link_to pluralize(@article.get_upvotes.size, 'like'), like_article_path(@article), method: :put, class: 'white-text tooltipped chip blue right',
       data: { position: :left, delay: 10, tooltip: "Like article"}%>
    <%= link_to root_path, class: "tooltipped", data: { position: :left, delay: 10,
      tooltip: "Back"} do%>
      <i class="material-icons">arrow_back</i>
    <% end %>
  </blockquote>
</div>
<% unless @article.comments.blank?  %>
  <div class="comments">
    <h4>Comments(<%= @article.comments_count %>)</h4>
    <div class="divider"></div>
    <%= render @article.comments %>
  </div>
<% end %>
<div class="comment-form">
  <h5>Create comment</h5>
  <%= render 'comments/form' %>
</div>