<div class="container">
  <%= simple_form_for :search, url: search_path, method: :get,
    html: { autocomplete: "off" } do |f| %>
    <div class="row">
      <div class="input-field col s11 m11 l11">
        <%= f.text_field :term %>
        <%= f.label :search_article %>
      </div>
      <div class="input-field col s1 m1 l1">
        <%= f.button :button,  class: "waves-effect waves-light" do %>
          <i class="material-icons">search</i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= render @articles %>
<div class="center">
  <%= will_paginate @articles %>
</div>
<%= render 'shared/bottom_float_button' %>
